ChustaSoft.Vaulture.System/Settings/app-settings.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Theme" type="xs:integer"/>				
				<xs:element name="SecureConnections" type="SecureConnectionCollection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="SecureConnectionCollection">
		<xs:list itemType="xs:string"/>
	</xs:simpleType>

</xs:schema>